* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 16px "Helvetica Neue", Arial, sans-serif;
}